
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.success{
    background-color: green;
}
.error{
    background-color: red;
}
