.user{
    @include themify{

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet{
            flex-direction: column;
        }

        

        .buttons{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            button{
                font-size: 0.7rem;
                color: white;
                padding: 5px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                &:first-child{
                    background-color: $thirdColor
                }
                &:last-child{
                    background-color: $secondaryColor
                }
            }
        }
    }

}